@using System.Security.Claims;
@model UserModel?
@{
    ViewData["Title"] = "Home Page";
}

@if (!User.Identity.IsAuthenticated)
{
    <a href="~/login">Login</a>
}
else
{
    <h1>User Signed In</h1>
    <div>
        ID: @User.FindFirst(ClaimTypes.NameIdentifier).Value
        <br />
        Display Name: @User.FindFirst(ClaimTypes.Name).Value
        <br />
        First Name: @User.FindFirst(ClaimTypes.GivenName).Value
        <br />
        Last Name: @User.FindFirst(ClaimTypes.Surname).Value
        <br />
        Email: @User.FindFirst(ClaimTypes.Email).Value
        <br />
        Number: @User.FindFirst(ClaimTypes.UserData).Value
    </div>

    <a href="~/update">Update</a>

    <a href="~/addinput">Add Input</a>

    <a href="~/changeprimary">Change Primary</a>

    <a href="~/logout">Logout</a>
}
