@namespace AngryMonkey.Cloud.Login
@using static Microsoft.AspNetCore.Components.Forms.InputCheckbox;
@inject AngryMonkey.Cloud.Login.CloudLoginClient cloudLoginClient
@inject NavigationManager navigationManager

<div class="amc-cloudlogin @CssClass">
    <div class="amc-cloudlogin-header">

        @* Loading *@

        <div class="amc-cloudlogin-loading">
            <div></div>
        </div>

        @* Logo *@

        @if (!string.IsNullOrEmpty(Logo))
        {
            <div class="amc-cloudlogin-logo">
                <img src="@Logo" alt="logo" />
            </div>
        }

        @* Title *@

        <div class="amc-cloudlogin-title">

            @if (State != ProcessState.InputValue)
            {
                <button @onclick="OnBackClicked">
                    <AngryMonkey.Cloud.Components.Icons.Back />
                </button>
            }
            <div>
                @Title
            </div>
        </div>

        @* Subtitle *@

        @if (!string.IsNullOrEmpty(Subtitle))
        {
            <div class="amc-cloudlogin-subtitle">
                @Subtitle
            </div>
        }

        @* Errors *@

        @if (Errors.Any())
        {
            <div class="amc-cloudlogin-errors">
                <ul>
                    @foreach (string error in Errors)
                    {
                        <li>@error</li>
                    }
                </ul>
            </div>
        }
    </div>

    <div class="amc-cloudlogin-body">

        @if (DisplayInputValue)
        {
            <div class="amc-cloudlogin-panel">
                <div class="amc-cloudlogin-inputdisplay">
                    @InputValue
                </div>

                <div class="amc-cloudlogin-keppsignedin">
                    <input type="checkbox" id="keepme" @bind-value="KeepMeSignedIn">
                    <label for="keepme">Keep me signed in</label>
                </div>
            </div>
        }

        @if (State == ProcessState.InputValue)
        {
            <div class="login-form _center ">
                <div class="amc-cloudlogin-input">
                    <input @onkeydown="OnInputKeyPressed" type="text" id="email" class=" @(!string.IsNullOrEmpty(InputValue) ? "active": "")" @bind-value="InputValue" @bind-value:event="oninput" spellcheck="false" />
                    <label for="email">@InputLabel</label>
                </div>
                <div class="login-form-next ">
                    <button class="amc-cloudlogin-button @((InputValueFormat == InputFormat.PhoneNumber || (InputValueFormat == InputFormat.EmailAddress))? "" : "--disable" )" @onclick="OnInputNextClicked">
                        <span>Next</span>
                        <AngryMonkey.Cloud.Components.Icons.LoadingButton />
                    </button>
                </div>
            </div>
        }
        else if (State == ProcessState.Providers)
        {
            <div class="login-form">
                <div class="amc-cloudlogin-providers">
                    @foreach (ProviderDefinition provider in Providers)
                    {
                        <button class="amc-cloudlogin-provider @provider.CssClass @(IsLoading?$"--disable" : "") " @onclick="() => OnProviderClickedAsync(provider)">
                            <div class="amc-cloudlogin-provider-icon">
                                <AngryMonkey.Cloud.Login.Components.ProviderButton Provider="provider" />
                            </div>
                            <div class="amc-cloudlogin-provider-label">@provider.Label</div>
                        </button>
                    }
                </div>
            </div>
        }
        else if (State == ProcessState.CodeVerification)
        {
            <div class="login-form">
                <div class="amc-cloudlogin-input login-form-emailVerification">
                    <input @onkeydown="OnInputKeyPressed" autocomplete="off" type="text" id="code" class=" @(!string.IsNullOrEmpty(VerificationValue) ? "active": "") " @bind-value="VerificationValue" @bind-value:event="oninput" spellcheck="false" />
                    <label for="code">Enter Code</label>
                </div>
                <div class="login-form-resend">
                    <button @onclick="OnNewCodeClicked">Resend code ?</button>
                </div>
                <div class="login-form-verify">
                    <button class="amc-cloudlogin-button" @onclick="OnVerifyClicked">
                        <span>Verify</span>
                        <AngryMonkey.Cloud.Components.Icons.LoadingButton />
                    </button>
                </div>
            </div>

        }
        else if (State == ProcessState.Registration)
        {
            <div class="login-form">
                <div class="login-form-register">
                    <div class="amc-cloudlogin-input">
                        <input @onkeydown="OnInputKeyPressed" autofocus type="text" id="firstName" class=" @(!string.IsNullOrEmpty(FirstName) ? "active": "") " @bind-value="FirstName" @bind-value:event="oninput" spellcheck="false" />
                        <label for="firstName">First Name</label>
                    </div>
                    <div class="amc-cloudlogin-input">
                        <input @onkeydown="OnInputKeyPressed" type="text" id="lastName" class=" @(!string.IsNullOrEmpty(LastName) ? "active": "")" @bind-value="LastName" @bind-value:event="oninput" spellcheck="false" />
                        <label for="lastName">Last Name</label>
                    </div>
                    <div class="amc-cloudlogin-input">
                        <input @onkeydown="OnInputKeyPressed" type="text" id="displayName" class=" @(!string.IsNullOrEmpty(DisplayName) ? "active": "") " @bind-value="DisplayName" @bind-value:event="oninput" spellcheck="false" @onfocus="OnDisplayNameFocus" />
                        <label for="displayName">Display Name</label>
                    </div>
                </div>

                <div class="login-form-finish">
                    <button class="amc-cloudlogin-button @((!string.IsNullOrEmpty(FirstName) && !string.IsNullOrEmpty(LastName) && !string.IsNullOrEmpty(DisplayName))? "" : "--disable" )" @onclick="OnRegisterClicked">
                        <span>Register</span>
                        <AngryMonkey.Cloud.Components.Icons.LoadingButton />
                    </button>
                </div>
            </div>

        }
    </div>

    <div class="amc-cloudlogin-footer">
        <div class="amc-cloudlogin-footer-providers">
            @foreach (ProviderDefinition provider in cloudLoginClient.Providers)
            {
                <AngryMonkey.Cloud.Login.Components.ProviderButton Provider="@provider" />
            }
        </div>

        <div class="amc-cloudlogin-footer-separator">
        </div>

        <div class="amc-cloudlogin-footer-links">

            @foreach (Link link in cloudLoginClient.FooterLinks)
            {
                <a target="_blank" href="@link.Url">@link.Title</a>
            }
        </div>
    </div>
</div>