@using AngryMonkey.CloudLogin.WASM
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop
@inject IJSRuntime jsRuntime;

<ErrorBoundary>
    <ChildContent>
        <Router AppAssembly="@typeof(_Imports).Assembly">
            <Found Context="routeData">
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
        </Router>
    </ChildContent>
    <ErrorContent Context="ex">
        @{
            e = ex;
        }

        @while (e != null)
        {
            <h2>Message</h2>
            <p>@e.Message</p>

            @if (!string.IsNullOrEmpty(e.StackTrace))
            {
                <h2>Stack Trace</h2>
                <p>@e.StackTrace</p>
            }

            @if (!string.IsNullOrEmpty(e.Source))
            {
                <h2>Source</h2>
                <p>@e.Source</p>
            }

            e = e.InnerException;
        }
    </ErrorContent>
</ErrorBoundary>

@code {
    public Exception? e { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await jsRuntime.InvokeVoidAsync("deleteElement", ".pageloading");
    }
}