@page "/weather"
@using AngryMonkey.CloudLogin
@using Microsoft.AspNetCore.Authorization
@inject CloudLoginStandaloneClient cloudLogin
@inject NavigationManager nav


<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates showing data.</p>

@if (IsAuthorized && CurrentUser != null)
{
    <div>
        <h1>Login successful</h1>
        <div>Login successful @CurrentUser.DisplayName.</div>
        <div>First Name: @CurrentUser.FirstName | Last Name: @CurrentUser.LastName</div>
        <div>Email Address: @CurrentUser.PrimaryEmailAddress.Input</div>
        <a href="./Account/Logout">Logout</a>
    </div>
}
else
{
    <a href="Account/Login?ReturnUrl=@nav.Uri">Login</a>
}

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;
    public User? CurrentUser { get; set; } = new();
    public bool IsAuthorized { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {

        IsAuthorized = await cloudLogin.IsAuthenticated();

        if (IsAuthorized)
            CurrentUser = await cloudLogin.CurrentUser();

        StateHasChanged();
        // Simulate asynchronous loading to demonstrate a loading indicator
        await Task.Delay(500);

        var startDate = DateOnly.FromDateTime(DateTime.Now);
        var summaries = new[] { "Freezing", "Bracing", "Chilly", "Cool", "Mild", "Warm", "Balmy", "Hot", "Sweltering", "Scorching" };
        forecasts = Enumerable.Range(1, 5).Select(index => new WeatherForecast
        {
            Date = startDate.AddDays(index),
            TemperatureC = Random.Shared.Next(-20, 55),
            Summary = summaries[Random.Shared.Next(summaries.Length)]
        }).ToArray();
    }

    private class WeatherForecast
    {
        public DateOnly Date { get; set; }
        public int TemperatureC { get; set; }
        public string? Summary { get; set; }
        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
