@page "/All"
@inject IHttpContextAccessor HttpContextAccessor
@inject AngryMonkey.CloudLogin.CloudLoginServerClient cloudLogin

<HeadContent>
    <CloudBundle Source="css/index.css" />
</HeadContent>

@if(Authorized){
        <section class="amc-authorized">
            <div>
                <div class="amc-authorized-all">
                    <a href="cloudlogin/logout" class="--button">Logout</a>
                    <a href="./" class="--button">Home</a>
                    <div class="amc-authorized-all-desc">
                        <div class="amc-authorized-all-desc-title">All users:</div>
                        @foreach (CloudUser users in Users)
                        {
                            <details>
                                <summary>@users.DisplayName</summary>
                                <ul>
                                    <li><b>First Name:</b> @users.FirstName</li>
                                    <li><b>Last Name:</b> @users.LastName</li>
                                    <li><b>Display Name:</b> @users.DisplayName</li>
                                    <li><b>Is Locked:</b> @users.IsLocked</li>
                                    <li><b>Created On:</b> @users.CreatedOn</li>
                                    <li><b>Last Signin:</b> @users.LastSignedIn</li>
                                    <li>
                                        <b>Inputs:</b>
                                        @foreach (LoginInput inputs in users.Inputs)
                                        {
                                            <ul>
                                                <li><b>Input:</b> @inputs.Input</li
                                                    <li>
                                                        <b>Providers:</b>
                                                        @foreach (LoginProvider providers in inputs.Providers)
                                                        {
                                                            <ul>
                                                                <li><b>Code:</b>@providers.Code</li>
                                                                <li><b>Identifier:</b>@providers.Identifier</li>
                                                            </ul>

                                                        }
                                                    </li>
                                                <li><b>Is Primary:</b>@inputs.IsPrimary</li>
                                                <li><b>Format:</b>@inputs.Format</li>
                                            </ul>
                                        }
                                    </li>
                                </ul>
                            </details>
                        }
                    </div>
                </div>
            </div>
        </section>

}else{
    <div>Login First:</div>
    <AngryMonkey.CloudLogin.CloudLogin Logo="https://thehealthbarme.com/img/logo.svg" />
}