@rendermode @(new InteractiveWebAssemblyRenderMode(true))

@namespace AngryMonkey.CloudLogin

@if (!RendererInfo.IsInteractive)
{
    <LoadingComponent Logo="@Logo" />
}
else
{
    <section>
        <article>
            <LoginComponent Logo="@Logo" Referer="@Referer" Embedded="Embedded" RequestId="@RequestId" />
        </article>
    </section>
}

@code {

    [Parameter] public string? Logo { get; set; }
    [Parameter] public bool Embedded { get; set; } = false;
    [Parameter] public string? Referer { get; set; }
    [Parameter] public Guid? RequestId { get; set; }

    // Legacy support for backward compatibility
    [Parameter] public string? RedirectUri { get; set; }
    [Parameter] public string? ReferredUrl { get; set; }
}