@rendermode @(new InteractiveWebAssemblyRenderMode(true))

@namespace AngryMonkey.CloudLogin

@if (!RendererInfo.IsInteractive)
{
    <LoadingComponent Logo="@Logo" />
}
else
{
    <section>
        <article>
            <LoginComponent Logo="@Logo" ActionState="@ActionState" CurrentUser="@CurrentUser" RedirectUri="@RedirectUri" Embedded="Embedded" />
        </article>
    </section>
}

@code {

    [Parameter] public string? Logo { get; set; }
    [Parameter] public bool Embedded { get; set; } = false;
    [Parameter] public string? ActionState { get; set; }
    [Parameter] public required User CurrentUser { get; set; }
    [Parameter] public string? RedirectUri { get; set; }
}